{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        
    </style>
</head>
<body>
    {% csrf_token %}
    {% include 'sidenav.html' %}
    <div class="main-content">
        <h1>Categories</h1>
            <div style="display: block;margin: 3px;">
                <input id="categorySearch" type="text">
                <button onclick="search()">Search</button>
            </div>
           
            {% for category in categoryList %}
            <div id="category{{category.id}}" style="display: block;margin: 3px;">
                <label style="display: none;">{{category.id}}</label>
                <input id="cat_{{category.id}}_name" type="text" value="{{category.category}}" >
                <button>Update</button>
                <button onclick="getParentId(this)">Delete</button>
            </div>
            {% endfor %}

            <div id="category_new" style="display: block;margin: 3px;">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" value="{{category.category}}" name="category" >
                    <button type="submit">ADD</button>
                </form>
                
            </div>
    </div>
    <script>
        function getParentId(button) {
        // Get the parent element ID when the button is clicked
        var inputValue = button.parentElement.querySelector('input[type="text"]').value;
        var confirmation = confirm("Are you sure you want to delete this category '" + inputValue + "' ?");
        var parentID = button.parentElement.id;
        
        alert("Parent element ID:"+ parentID);
        alert (inputValue)
        }
        
        window.onload = function() {
            var urlParams = new URLSearchParams(window.location.search);
            var searchValue = urlParams.get('category');
            if (searchValue) {
                document.getElementById("categorySearch").value = decodeURIComponent(searchValue);
            }
        }
        function search() {
            var searchValue = document.getElementById("categorySearch").value
            console.log(searchValue)

            if (searchValue){
                console.log(searchValue)
            }
           
            if (searchValue){
                window.location.href = "/categories" + "?" + "category=" + encodeURIComponent(searchValue);
                
            } else {
                window.location.href = "/categories"
            }
            
        }

    </script>
</body>
</html>
